h1 {
  text-align: center;
  padding: 30px;
  color: white;
  background-color: black;
}
h3 {
  font-size: 20px;
    text-align: center;
    color: white;
}
body{
  background-position: center;
  background: 100%;
  body {
    margin: 0;
    padding:0;
}
}
.wrapper{
  background-image: url("../../image/emp5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 77vh;
} 
